@charset "UTF-8";

body {
    background-color: #fff;
    text-align: justify;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1 {
    text-align: center;
    font-size: 3em;
    font-weight: 300;
}

form {
    max-width: 770px;
    margin: 0 auto;
}

label {
    display: inline-block;
    cursor: default;
    width: 100%;
}

input, select, textarea {
    margin-top: 0.5rem;
}

.text-muted {
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 20px;
    padding: 5px 95px 5px;
    margin-bottom: 15px;
}

.subtitulo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    text-align: center;
}

.paragrafo {
    margin: 0 auto;
    padding: 10px 30px 10px;
}

p {
    text-align: center;
    color: #000;
    font-size: 20px;
}

input, select {
    margin: auto;
    display: block;
    cursor: pointer;
    width: 100%;
    text-align: left;
    color: #808080;
    background-color: #FFFFFF;
    font-size: 1rem;
}
select {
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

textarea {
    display: block;
    width: 100%;
    height: 20px;
    background-color: #FFFFFF;
}

input[type="reset"], input[type="submit"], input[type="button"] {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[type="submit"], input[type="button"] {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

menu {
    text-align: justify;
    font-family: verdana;
    color:#5D5C5C;
    font-size: 15px;
    margin: 0px 200px 0px;
    padding-bottom: 3%;
    display: inline-block;
}

table, tr, td {
    border: #000 1px;
}

.lista {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: center;
}

.campo {
    font-size: 14px;
    color:#5D5C5C;
    padding: 10px 5px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

label {
    cursor: pointer;
    font-family: verdana;
}

    /* SELECT ÁREA INDIA 
    * Substance Definition #1
    */

.caixa-esquerda {
    display: flex;
    margin: left;
    padding: 10px 150px 10px;
    justify-content: space-between;
    width: 500px;
}

.caixa-central {
    display: flex;
    margin: 0px 10px 0px;
    justify-content: space-between;
    width: 500px;
}

.caixa-direita {
    display: flex;
    margin: right;
    justify-content: space-between;
    width: 500px;
}

    /* Substance Definition #2 */

.caixa-central-1 {
    display: flex;
    margin: 10px;
    justify-content: space-between;
    width: 720px;
}

.caixa-central-2 {
    display: flex;
    margin: 10px;
    justify-content: space-between;
    width: 730px;
}

.caixa-esquerda-2 {
    display: flex;
    margin: left;
    padding: 0px 20px;
    justify-content: space-between;
    width: 720px;
}

.caixa-direita-2 {
    display: flex;
    margin: right;
    justify-content: space-between;
    width: 720px;
}

    /* IUPAC Isotope Name */

.caixa2 {
    display: flex;
    margin: 0 auto;
    padding: 0px 200px 5px;
    justify-content: space-between;
    width: 300px;
}

    /* CHECKBOX */
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    display:inline-block;
    height:20px;
    padding:0 0 0 25px;
    margin: 0 60px 0;
    margin-left: -20px;
    background-position:0 -60px;
}

input[type="checkbox"] + label:before {
    border: 1px solid #007bff;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 0 .25em 0 0;
    padding:0;
    vertical-align: top;
    width: 16px;
    border-radius:4px;
}

input[type="checkbox"]:checked + label:before {
    background: #4ba1fd;
    color: #FFF;
    content: "\2713";
    text-align: center;
}

input[type="checkbox"] + label:after {
    font-weight: bold;
}

    /* RADIO */
input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    display:inline-block;
    height:20px;
    padding:0 0 0 25px;
    margin: 0 60px 0;
    background-position:0 -60px;
}

input[type="radio"] + label:before {
    border: 1px solid #007bff;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 0 .25em 0 0;
    padding:0;
    vertical-align: top;
    width: 16px;
    border-radius:4px;
}

input[type="radio"]:checked + label:before {
    background: #4ba1fd;
    color: #FFF;
    content: "\2713";
    text-align: center;
}

input[type="radio"] + label:after {
    font-weight: bold;
}

.final {
    text-align: center;
}

.legend {
    display: block;
    padding: 10px 20px 10px;
    margin-left: calc(40% - 35px - 8px);
    background-color: #1a4127;
}

.secao {
    margin: 1rem 0 0;
    border: 0.2rem solid #f8f9fa;
}

#buttons input {
    width: calc(50% - 20px);
    float: left;
    margin: 40px 10px;
}

/* PÁGINA 02 */

.seg-pag {
    border: none;
}